{% extends 'polls/base.html' %}
{% block content %}

{% load static %}

<body>
    <main id="main" class="main">

        <!-- Cargar el archivo de estilos -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">

        <section class="seccionRegistrarse">
            <form method="POST">
                {% csrf_token %}
                <h2 class="tituloRegistrarse">Registro de Usuario</h2>

                
    
                <!-- Campo de nombre de usuario -->
                <div>
                    {{ form.username.label_tag }}  {# Muestra la etiqueta del campo (ej: "Nombre de usuario") #}
                    {{ form.username }}  {# Renderiza el campo de entrada #}
                </div>
                
                <!-- Campo de email -->
                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="error-text">{{ form.email.errors|safe }}</div>
                    {% endif %}
                </div>

                <!-- Campo de contraseña 1 -->
                <div>
                    {{ form.password1.label_tag }}  {# Etiqueta para la primera contraseña #}
                    {{ form.password1 }}  {# Campo de entrada de la primera contraseña #}
                 
                </div>
                
                <!-- Campo de contraseña 2 -->
                <div>
                    {{ form.password2.label_tag }}  {# Etiqueta para la segunda contraseña #}
                    {{ form.password2 }}  {# Campo de entrada de la segunda contraseña #}
                    
                </div>

                <!-- Mostrar errores generales del formulario -->
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Errores en el formulario:</strong>
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{ field.label }}: {{ error }}</li>
                                    <p>"las contraseñas no coinciden"</p>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                
                <!-- Botón de Registro -->
                <div>
                    <button class="boton" type="submit">Registrarse</button>
                </div>

            </form>
        </section>
    </main>

    <script>
        AOS.init();  
    </script>
</body>

{% endblock %}
